@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {

    margin: 0;
    padding: 0;
    font-family: 'Oswald';
}

nav{
    display: flex;
    justify-content: space-between;
    font-size: large;
    padding: 0.25rem;
}

.container{
    display: block;
    margin: 80px auto;
    box-shadow: 0 4px 8px whitesmoke;
    width: 80vw;
    padding: 20px;
    background-color: beige
}
.stPageHeader {
    text-align: center;
}

.stPageRules {
    margin-left: 60px;
}
.stPageRules p {
    font-size: large;
    font-weight: bold;

}

/* .startPage {
    display: block;
    text-align: left;
} */
.hidden {
    display: none;
}

.button {
    text-decoration: none;
    color: black;
    background: rgb(39, 162, 171);
    border-radius: 4px;
}

#start-button {
    font-size: x-large;

} 

.stPageButton {
    text-align: center;
}

/* .button:hover {
    Create hover attribute
} */

.questionContainer {
    font-weight: bold;
    font-size: x-large;
}

.choices {
    color: black;
    border-radius: 4px;
}

.choiceBtnAttr {
    border-radius: 4px;
    background-color:rgb(39, 162, 171);
    border-radius: 4px;
    font-size:large;

}



