@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
    /*background-color: rgba(4, 4, 25, 0.882);*/
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald';
}

nav{
    display: flex;
    justify-content: space-between;
    font-size: large;
    padding: 0.25rem;
}

.container{
    display: block;
    margin: 80px auto;
    text-align: center;
    box-shadow: 0 4px 8px whitesmoke;
    width: 80vw;
    padding: 20px;
    background-color: beige
}

.hidden {
    display: none;
}

.button {
    text-decoration: none;
    color: black;
    background: rgb(39, 162, 171);
    border-radius: 4px;
}

#start-button {
    font-size: x-large
} 



